.header {
    background-color: white;
    padding: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
}

.h2 {
    margin: 0;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}

.content {
    background-color: transparent;
}

.footer {
    background-color: white;
    padding: 0;
    
}

.textFooter {
    font-weight: 500;
    font-size: 18px;
}